*
{
	font-family: 'Prompt', sans-serif;

}

body
{
	margin-top: 0px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}

header
{
	margin-left: 0px;
	margin-right: 0px;
}

p
{
  
  color: #444444;
  line-height: 32px;
  font-size: 20px;
  font-family: 'Prompt', sans-serif;

}

ul
{	
	padding: 0;
	text-align: left;
	list-style: none;
}

h1
{
	font-family: 'Dancing Script', cursive;
}

 h2 {
  color: #FFF;
  background-color: #c65353;
  font-family: 'Michroma', sans-serif;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

div.investigacion h2
{
	
	background-color: #FF4500;
	font-family: 'Michroma', sans-serif;
	font-size: 27px;
	
}

h3 
{
  color: #FFF;
  background-color: #006666;
  font-family: 'Amatic SC', cursive;
  font-size: 27px;
  font-weight: 500;
  text-align: center;  
}

div.referencias h3 
{
  color: #FFF;
  background-color: #32CD32;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px; 
}

li
{
  border-bottom: 1px solid #AA8EB5;
  list-style: none;  
  padding-bottom: 40px;
}

a {
  color: #214E34;
  font-family: 'Michroma', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

	div.menu ul
	{
		list-style-type: none;
		margin: 0px;
		padding: 0;
		overflow: hidden;
		background-color: #333399;
	}

	div.menu li
	{
		float: left;
		border-bottom: none;
		margin: 0%;
	}

	div.menu li a
	{
		display: block;
		margin: auto;
		color: white;
		text-align: center;
		padding: 11px;
		text-decoration: none;
	}

	div.menu li a:hover
	{
		background-color: #111111
	}

	div.preguntas ul
	{
		column-count:2;
		column-gap:111px;
		column-rule:4px dotted red;
	}


div.investigacion h2
{
	font-family: 'Architects Daughter', cursive;
	font-size: 25px;
}
